body{
  background-color: gray;
  font-family: sans-serif;
}

.buttons{

}

.description{
  margin: 30px;
}
.container{
  margin: 0 auto;
  width: 900px;
  /* height: 900px; */
  border: 1px solid black;
  padding: 15px;
}
.header{
  text-align: center;
  border: 1px solid black;
  padding: 10px;
}
.center{
  padding: 20px;
  text-align: left;
  padding-left: 50px;
}
.footer{
  padding: 20px;
  text-align: center;
  border: 1px solid black;
}

.one > img{
  width: 500px;
  height: 300px;
}

.center{
  border: 1px solid black;
}

#generatedBtns{
  /* padding: 5px; */
  margin-left: 15px;
}

#modal{
  /* background-color: rgba(173, 216, 230, 0.7); */
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  display: none;
}

#txt{
  background-color: rgba(173, 216, 230, 1);
  padding: 20px;
  height: 550px;
  width: 500px;
  text-align: center;
  margin: 250px auto;

}

.modalBtn{
  text-align: center;
}

.modalImage{
  border: 1px;
  border-radius: 50px;
  padding: 10px;
  height: 400px;
  width: 400px;
}
